/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  background-image: url('./assets/salon_chairs_bg.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 60%;
  background-attachment: fixed;
  height: 100vh;
}
@media (max-width: 1024px) {
  body {
    background-size: cover;
  }
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body::-webkit-scrollbar {
  width: .3rem;
}
body::-webkit-scrollbar-thumb {
  background-color: #df6e05;
}
body::-webkit-scrollbar-track {
  background-color: #fafafa;
}

/* my styles */
.App {
  text-align: center;
  max-width: 100%;
  width: 74%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.84);
  font-family: "montserrat";
}
@media (max-width: 1024px) {
  .App {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.84);
  }
}



/* navbar */
.navigator {
  width: 100%;
  background-color: #c5affa;
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px 0 5px;
  box-shadow: 0px 5px 6px rgba(34, 34, 34, 0.7);
}
.logo-container {
  width: auto;
  text-align: left;
  padding: 0 0 0 2%;
}
.main-logo {
  color: #fafafa;
  font-size: 1.8rem;
  font-weight: 600;
}
.sub-logo {
  color: #fafafa;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 400;
}
.links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 36%;
  list-style-type: none;
  padding: 0 2% 0 0;
}
.link {
  width: auto;
  font-size: 1.3rem;
  font-weight: 500;
  text-decoration: none;
  color: #fafafa;
  transition: .5s;
}
.link:hover {
  cursor: pointer;
  color: #ffca67;
  transition: .3s;
}
.hamburger-times {
  color: #fafafa;
  font-size: 2rem;
}
@media (max-width: 1024px) {
  .navigator {
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
  }
  .nav-open {
    height: 100vh;
  }
  .logo-container {
    display: none;
  }
  .icon-container {
    width: 100%;
    justify-content: center;
    padding: 2% 0;
  }
  .icon-container-open {
    width: 100%;
    justify-content: center;
    padding: 3% 0;
  }
  .links-container {
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .link {
    width: 100%;
    font-size: 4rem;
    margin: 6% 0;
  }
}
@media (max-width: 768px) {
  .link {
    font-size: 3.2rem;
  }
}





/* home component */
.home {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 7% 2% 3%;
}
.logo {
  width: 100%;
  color: #fafafa;
  padding: 2% 0 4%;
}
.title {
  font-size: 3.2rem;
  font-weight: 600;
}
.sub-title {
  font-size: 2rem;
}
@media (max-width: 1024px) {
  .home {
    width: 100%;
    padding: 7% 1% 3%;
  }
  .logo {
    padding: 8% 0 4%;
  }
  .title {
    font-size: 3.2rem;
  }
}
@media (max-width: 768px) {
  .home {
    padding: 16% 0 10%;
  }
}




/* about us  */
.about-us-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 24%;
  color: #4f4f4f;
  background-color: #fafafa;
  border-radius: 5px;
  padding: 2% 4% 0;
}
.about-us-title {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 500;
}
.about-us-content-container {
  width: 100%;
}
.about-us-content {
  width: 100%;
  margin: 7% 0;
  font-size: 1.2rem;
}
.button-container {
  width: 100%;
}
.about-us-btn {
  width: 74%;
  padding: 2% 4%;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  color: #fafafa;
  background-color: #df6e05;
  transition: .4s;
}
.about-us-btn:hover {
  cursor: pointer;
  background-color: #F89C12;
  transition: .2s;
}
.about-us-btn:focus {
  outline: none;
  box-shadow: none;
}
.social-media-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 5% 0 0;
}
.social-media-btn {
  background-color: transparent;
  border: none;
}
.social-media-icon {
  font-size: 2.4rem;
  color: #4f4f4f;
  transition: .4s;
}
.social-media-icon:hover {
  cursor: pointer;
  color: #808080;
  transition: .2s;
}
@media (max-width: 1024px) {
  .about-us-section {
    width: 48%;
  }
  .about-us-btn {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .about-us-section {
    width: 100%;
    border-radius: 0px;
    padding: 6% 3%;
    background-color: transparent;
    color: #fafafa;
  }
  .about-us-title {
    padding: 3% 0 0;
  }
  .about-us-content {
    font-size: 1.4rem;
  }
  .button-container {
    padding: 2% 0;
  }
  .about-us-btn {
    width: 80%;
    font-size: 1.8rem;
    padding: 4% 2%;
  }
  .social-media-container {
    width: 80%;
    justify-content: space-between;
    margin: 4% 0 0;
  }
  .social-media-icon {
    font-size: 3.6rem;
    color: #fafafa;
  }
}



/* instagram feed */
.instagram-feed {
  width: 42%;
}
.instagram-img {
  object-fit: cover;
  width: 100%;
  height: 378px;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .instagram-feed {
    width: 100%;
  }
  .instagram-img {
    border-radius: 0px;
  }
}



/* contact */
.contact-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10% 0 0;
}
.contact-header {
  width: 100%;
}
.contact-title {
  width: 100%;
  color: #fafafa;
  font-size: 2.4rem;
  font-weight: 400;
}
.cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 4% 6% 6%;
}
.salon-card {
  width: 30%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fafafa;
  border-radius: 5px;
}
.location-img {
  width: 100%;
  height: 286px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.salon-data-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 4% 10%;
  color: #4f4f4f;
}
.data-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 3% 0;
}
.salon-data {
  width: 88%;
}

@media (max-width: 1024px) {
  .contact-section {
    padding: 10% 0 0;
  }
  .contact-header {
    padding: 6% 0;
  }
  .cards-container {
    padding: 0 1%;
  }
  .salon-card {
    width: 32%;
  }
}
@media (max-width: 768px) {
  .contact-section {
    padding: 18% 0 0;
  }
  .salon-card {
    width: 100%;
    border-radius: 0px;
  }
  .location-img {
    border-radius: 0px;
  }
}


.services-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10% 0 2%;
}
.services-header {
  width: 100%;
}
.services-title {
  width: 100%;
  color: #fafafa;
  font-size: 2.4rem;
  font-weight: 400;
}
.services-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 4% 6% 0;
}
.images-container {
  width: 100%;
  display: flex;
  justify-content: space-around;

}
.service-img {
  width: 22%;
  height: 256px;
  object-fit: cover;
  border-radius: 5px;
}
.text-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #fafafa;
  font-size: 1.4rem;
  padding: 3% 0 0;
}
.statement {
  width: 44%;
  line-height: 2.4rem;
}
.list {
  width: 40%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: left;
  list-style: disc;
}
.service {
  width: 100%;
  padding: 1% 0;
}
@media (max-width: 1024px) {
  .services-section {
    padding: 10% 0 0;
  }
  .services-header {
    padding: 6% 0;
  }
  .services-container {
    padding: 0;
  }
  .statement {
    font-size: 1.6rem;
  }
  .list {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .services-section {
    padding: 18% 0 0;
  }
  .service-img {
    width: 100%;
    height: 400px;
  }
  .statement {
    width: 100%;
    padding: 5% 1%;
  }
  .list {
    width: 80%;
    text-align: center;
    list-style: disc;
    padding: 5% 0 0;
  }
  .service {
    padding: 3% 0;
  }
}




.gallery-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8% 0 2%;
}
.gallery-header {
  width: 100%;
}
.gallery-title {
  width: 100%;
  color: #fafafa;
  font-size: 2.4rem;
  font-weight: 400;
}
.image-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1% 6% 0;
}
.gallery-img {
  width: 22%;
  object-fit: cover;
  height: 200px;
  margin: 2% 0 0;
  border-radius: 5px;
}
.instagram-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2% 0 0;
  color: #d1d1d1;
}
.instagram-container:hover {
  color: #fafafa;
}
.instagram-link {
  color: #c5c5c5;
  font-size: 1.4rem;
  text-decoration: none;
  transition: .35s;
  background-color: transparent;
  border: none;
}
.instagram-link:hover {
  color: #fafafa;
  transition: .3s;
}
@media (max-width: 1024px) {
  .gallery-section {
    padding: 10% 0 4%;
  }
  .gallery-header {
    padding: 6% 0 0;
  }
  .image-container {
    padding: 3% 1% 0;
  }
  .gallery-img {
    width: 46%;
    height: 464px;
  }
}
@media (max-width: 768px) {
  .gallery-section {
    padding: 18% 0 0;
  }
  .gallery-img {
    width: 100%;
    border-radius: 0px;
  }
  .arrows-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10% 10% 0;
  }
  .img-position {
    color: #fafafa;
    font-size: 2.4rem;
  }
  .arrow-btn {
    background-color: transparent;
    border: none;
    color: #fafafa;
    font-size: 2.4rem;
  }
  .instagram-container {
    padding: 10% 0 5%;
  }
}
